html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  color: #1d1d1d;
  text-align: center;
}

@font-face {
    font-family: BEBAS;
    src: url(fonts/BEBAS___.ttf);
}

@font-face {
    font-family: FuturaStd-Book;
    src: url(fonts/FuturaStd-Book.otf);
    
}

@font-face {
  font-family: BemboStd;
  src: url(fonts/BemboStd.otf)
}

@font-face {
  font-family: AppleGaramond;
  src: url(fonts/AppleGaramond.ttf);
}

@font-face {
  font-family: AppleGaramond-Italic;
  src: url(fonts/AppleGaramond-Italic.ttf);
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

/* Links */
a,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

/* ==== COVER FIRST PAGE ===*/
.container-cover {
  margin-right: auto;
  margin-left: auto;
}

.cover-pg {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background-color: #fff;
  /*background: url(http://33.media.tumblr.com/5397e31bd5df410ae0b0f9aeb1d17687/tumblr_n20cevUIPY1r03m0qo4_1280.jpg) no-repeat bottom center scroll;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.cover-pg .cover-pg-content {
    display: table-cell;
    vertical-align: middle;
}

@media(min-width:768px) {
  .cover-pg {
      height: 100%;
      padding: 0;
  }
}
.cover-title {
    font: 105px/100px BEBAS;
    color: #1d1d1d;
    margin-bottom: 25px;
}

@media(max-width: 768px) {
.cover-title {
  font: 40px/45px BEBAS;
  color: #1d1d1d;
  margin-bottom: 25px;
}
}
.cover-tag {
  font: 30px/30px AppleGaramond-Italic;
  color: #1d1d1d;
}

a.pages {
  font: 39px/50px BEBAS;
  color: #1d1d1d;
  border-top: 5px solid red;
  text-transform: uppercase;
}


@media(max-width:768px) {
  a.pages {
    font: 25px/30px BEBAS;
    color: #1d1d1d;
    border-top: 5px solid red;
    text-transform: uppercase;
  }
}

#headered {
  /*float: left;*/
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  background: #fff;
  /*border-bottom: 1px solid #e6e6e6;*/
  min-height: 67px;
  font: 30px/24px BEBAS;
  margin-bottom: -100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}


#headered a {
  color: #1d1d1d;
  /*border-top: 4px solid #1d1d1d;*/
  padding: 5px;
}

#headered img {
  float: left;
}

#headered nav {
  text-align: center;
  display: inline-block;
/*  float: left;
  width: 70%;
  text-align: left;
  margin-left: 20px;*/
}

#headered nav ul {
  padding: 5px 0;
  margin: 0;
  list-style-type: none;
}

#headered nav ul li {
  padding: 5px;
  margin-left: 20px;
  display: inline;
}

#headered nav ul ul {
  display: none;
}

/* ==== SECTION STYLES ==== */
section {
  font: 17px/23px FuturaStd-Book;
  padding: 100px 0;
}

.section-header {
  font-family: BEBAS;
  /*border-top: 5px solid #1d1d1d;*/
  display: inline-block;
  padding: 5px;
  margin-bottom: 30px;
}

/* ==== NAVBAR STYLES ====  */
.navbar {
  border: none;
  box-shadow: none;
  background: #fff;
  border-radius: none;
  /*margin-bottom: 10px;*/
  -webkit-transtion: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;

}

.navbar .navbar-default {
  border-radius: none;
}

.navbar-nav {
  border-radius: none;
  float: none;
  -webkit-transtion: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
}

.navbar-nav > li > a {
  line-height: normal;
  padding: 0px;
}

.navbar > li > a {
  padding: 0px;
  padding-bottom: 0px;
  border-radius: none;

}

.nav > li > a {
  padding: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  color: #1d1d1d;
  /*border-top: 7px solid #CC0000;*/
  box-shadow: none;
  background-image: none;
}

.navbar-default .navbar-nav > li > a {
  color: #1d1d1d;
}

.navbar-header {
  padding-bottom: 0px;
}
@media(min-width:768px) {
  .navbar-nav > li > a {
    line-height: normal;
    padding: 0px;
  }

  .navbar {
    border-radius: 0px;
  }
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  font-family: BEBAS;
  color: #1d1d1d;
}

.navbar-default .navbar-collapse {
  margin: 0px;
}

.first-line {
  padding-left: 32px;
}

.main-header {
  z-index: 1050;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-header.affix {
  top: 0px;
}

.main-header.affix > .navbar {
  background: #1d1d1d;
}

.main-header.affix > .navbar a {
  color: #fff;
} 

.navbar.navbar-default {
  border-radius: 0;
}

@media(max-width:768px) {
  .main-header {
    position: fixed;
    top: 0px;

  }
}

/* ==== ABOUT US SECTION  */
.logo-header {
  font: 100px/100px BEBAS;
  color: #1d1d1d;
}

.header {
  font-family: BEBAS;
  color: #1d1d1d;
}

.about-us {
  background-color: #fff;
}

/* ==== TEAMS SECTION ==== */
.cir-main {
  z-index: 1040;
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #efefef;
  cursor: pointer;
}

.cir-main:hover, .cir-second:hover {
  background-color: #f4f4f4;

}

.cir-second {
  z-index: 1040;
  position: relative;
  margin: 50px auto 0 auto;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #efefef;
  cursor: pointer;
}

.hz2 {
  position: relative; 
  height: 5px; 
  top: 80px; 
  left: 20px;
  background-color: #CC0000;
  margin-left: 150px;
  margin-right: 150px;
}

.hz {
  position: relative;
  top: 172px;
  height: 5px;
  background-color: #CC0000;
  left: 20px;
  margin-left: 27px;
  margin-right: 68px;
}

.ver2 {
  position: relative;
  height: 5px;
  background-color: #CC0000;
  top: -29px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ver {
  position: relative;
  height: 5px;
  background-color: #CC0000;
  top: 30px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

}

.teams {
  background-color: #fff;
}

.sq {
  position: absolute;
  width: 266px;
  height: 74px;
  background: transparent;
  border: 5px solid #CC0000;
  margin-left: 12%;
  margin-top: 19px;
}

.cir-content {
  position: absolute;
  top: 20%;
}

.popover {
  z-index: 1045;
  min-width: 300px;
}

.popover-content {
  font-size: 14px;
  line-height: 15px;
}

@-moz-document url-prefix() { 
  .popover.top {
    /*margin-top: -10px;*/
    /*margin-left: 148px;*/
  }
  .popover.right {
    /*margin-left: 101px;*/
    /*margin-top: 90px;*/
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
   .popover.top {
    margin-top: -10px;
    margin-left: 180px;
  }
  .popover.right {
    margin-left: 101px;
    margin-top: 90px;
  }
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
  margin-top: 90px;
}

@media(max-width:768px) {
  .cir-main {
    width: 50px;
    height: 50px;
  }

  .cir-second {
    width: 25px;
    height: 25px;
  }

  .hz2 {
    left: 10px;
    margin-left: 90px;
  }
}

@media(max-width:1200px){
  .hz {
    margin-left: 16px;
    margin-right: 56px;
  }

  .ver2 {
    top: -18px;
  }

  .sq {
    width: 220px;
    height: 74px;
    margin-left: 11%;
    margin-top: 19px;
    }
}

.top-row {
  padding: 10px;
  margin-bottom: 10px;
  background-color: green;
}

.bottom-row {
  padding: 10px;
  background-color: pink;
}

/* ==== WORKS SECTION ==== */
.modal {
  z-index: 100000;
}

.modal-body {
  display: table;
  margin: 0 auto;
}
.works-style {
  background-color: #fff;
}
.works .modal-content {
  z-index: 10000;
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-content {
  border-radius: 0;
}

.modal-header, 
.modal-footer {
  border: none;
}

.elements {
  margin-bottom: 30px;
}
.element-link {
  display: block;
  position: relative;
}
.element-link .item-link {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
   background: rgba(128,0,0,.8); 
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}

.element-link .item-link:hover {
  opacity: 1;
}

.element-link .item-link:hover .item-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}



.works .modal-close {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #1d1d1d;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.works .modal-close .lr {
  z-index: 10001;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #1d1d1d;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.works .modal-close .lr .rl {
  z-index: 10002;
  width: 1px;
  height: 75px;
  background-color: #1d1d1d;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* ==== CONTACT US SECTION ===== */
#soc {
  margin-left: -39px;
}
#soc li {
    margin: 0px 0 0 0;
    padding: 0px;
    list-style: none;
    display: inline-block;
}


#soc li, #soc a {
    height: 59px;
    list-style: none;
    padding: 0px;
}

#pint {
  width: 58px;
  background: url(iqon.png) 0 0;
}
#face {
  width: 60px;
  background: url(iqon.png) -113px 0;

}

#twit {
  width: 70px;
  background: url(iqon.png) -174px 0;
}
#inst {
  width: 57px;
  background: url(iqon.png) -57px 0;
}

.mybutton {
  display: table;
  font: 20px/20px BEBAS;
  color: #1d1d1d;
  background-color: #eeeeee;
  padding: 10px;
  margin: 10px 0 10px 0;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.mybutton:hover {
  color: #4d4d4d;
  background-color: #f2f2f2;
}

.close-modal {
  margin: 0 auto;
}

.embed-responsive.embed-responsive-form {
  padding-top: 81%;
  padding-bottom: 89%;

}

@media(max-width: 768px) {
  .embed-responsive.embed-responsive-form {
    padding-bottom: 214%;
    padding-top: 100%;
  }
}

.tooltip {
  font-size: 18px;
}

.tooltip.inner {
  max-width: 450px;
  color: #fff;
  text-align: center;
  background-color: #1d1d1d;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 2px;
}

/* ==== FOOTER SECTION ==== */
.footering {
  /*background-color: #efefef;*/
  background-color: #1d1d1d;
  margin-top: 150px;
  padding: 30px 0 10px 0;
  font-family: FuturaStd-Book;
  font-size: 15px;
  color: #efefef;
}

.footering a, .footering a:hover,  .footering a:active {
  color: #efefef;
}

.end {
  padding: 50px 0 10px 0;
}

.case-compt-left {
  padding: 3%;
  background-color: #efefef;
  margin-bottom: 10px;
  border-top: 5px solid #CC0000;
}

.case-compt-right {
  background-color: #efefef;
  padding: 3%;
  margin-bottom: 10px;
  border-top: 5px solid #CC0000;
}

.register-button {
  display: table;
  font: 17px/15px BEBAS;
  color: #eeeeee;
  background-color: #CC0000;
  padding: 10px;
  margin: 5px 0 5px 0;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  color: #eeeeee;
  background-color: #CC3333;
}